// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://www.flickr.com/photos/134291749@N08/shares/R1aE38');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
