// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('http://i698.photobucket.com/albums/vv342/sunanp/anothersidebloggang07jul17.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
