// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('http://media.photobucket.com/user/sunanp/media/anothersidebloggang07jul17.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
